
body {
    color: rgb(14, 13, 13);
    height: 100%;
    background-color: #0e0e0e;
    background-repeat: no-repeat
}

/* .inputField{
    position: relative;   
} */

.inputField input{
    
    position: relative;
    padding: 10px;
    border-radius: 10px;
    width: 40%; 
    font-size: 18px;
    
}
.inputField h5 {
    background-color: white;
    margin: auto;
    padding: inherit;
    width: 39%;
    margin-left: 395px;    
    position: absolute;
    border-radius: 10px;
    box-shadow: 0px 4px 10px #797676;
    overflow: auto; 
    max-height: 250px;
   
  
}

ul:hover{
    background-color: lightgray;
}

.ul{
    cursor: pointer;
    color: black;
    text-align: left;
}

h1,h2,h3,h4,h5,h6{
    margin:20px;
    padding: 10px;
    font-size: 700;
    color: white;
    
}
.display-3 {
    font-size: 2.5rem
}


.card {
    background-image: url("https://www.rd.ntt/_assets/img/research/JN202105_13510/JN202105_13510_main.jpg");
    background-size: contain;
    width: 90%;
    height: 540px;
    margin: auto;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 0px
}

